/******************* font link ************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/******************* Common CSS ***********************/
:root {
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 90vw;
  margin: 0 auto;
}
ul {
  list-style: none;
}
@media screen and (max-width: 768px) {
  .container {
    width: 95vw;
  }
}
@media screen and (max-width: 570px){
  .container {
    width: 100vw;
  }
}
/******************** main css ************************/
header {
  width: 100%;
}
nav {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
a {
}
a h1 {
  font-size: 1.5rem;
  color: #4a4a4a;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
}
.navlink {
  margin-left: 16px;
}
ul {
  display: flex;
  justify-content: space-between;
}
ul li {
  padding: 0 1rem;
  color: #777777;
}
.mbl-d {
  display: none;
}
.btn {
  font-size: 1rem;
  padding: 4px 14px;
  border: 1px solid #289bde;
  background: none;
  color: #289bde;
  border-radius: 3px;
}
.toggle {
  display: none;
}
.toggle button {
  background: none;
  border: none;
}
.toggle button i {
  font-size: 2rem;
  padding-right: 20px;
}
.slider {
  width: 100%;
  height: 580px;
  overflow: hidden;
  position: relative;
  margin: 3rem 0;
  border-radius: 0.5rem;
}
.slider-inner {
  display: flex;
  width: 270vw;
  height: 100%;
  position: relative;
  animation: slider 30s ease 1s infinite alternate running;
}
.img-con {
  width: 90vw;
  height: 100%;
  position: relative;
}
.img-con img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes slider {
  0% {
    left: 0vw;
  }
  10% {
    left: 0vw;
  }
  20% {
    left: -90vw;
  }
  30% {
    left: -90vw;
  }
  40% {
    left: -180vw;
  }
  50% {
    left: -180vw;
  }
  60% {
    left: -90vw;
  }
  70% {
    left: -90vw;
  }
  80% {
    left: 0vw;
  }
  90% {
    left: 0vw;
  }
  100% {
    left: 0vw;
  }
}
.slider-contant{
  position: absolute;
  background-color: rgba(29, 29, 29, 0.7);
  height: 100%;
  width: 100%;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.slider-contant h3{
  font-size: 2.8rem;
  text-align: center;
  color: white;
  line-height: 3rem;
  width: 60%;
}
.slider-contant p{
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-weight: 400;
  color: #F4F4F4;
  width: 60%;
}
.slider-contant button{
  font-size: 1rem;
  padding: 4px 14px;
  background: #289bde;
  border: none;
  color:white;
  border-radius: 3px;
}
.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.heading h1{
  color: #1D1D1D;
  font-size: 2.5rem;
  text-align: center;
}

/* responsive */
@media screen and (max-width: 992px) {
  .brand {
    width: 60%;
  }
  .navlink {
    display: none;
  }
  .navigation {
    justify-content: flex-end;
    width: 30%;
  }
  .toggle {
    display: block;
  }
}
@media screen and (max-width: 768px){
}
.slider-inner {
  width:285vw;
}
.img-con{
  width: 95vw;
}
@keyframes slider {
  0% {
    left: 0vw;
  }
  10% {
    left: 0vw;
  }
  20% {
    left: -95vw;
  }
  30% {
    left: -95vw;
  }
  40% {
    left: -190vw;
  }
  50% {
    left: -190vw;
  }
  60% {
    left: -95vw;
  }
  70% {
    left: -95vw;
  }
  80% {
    left: 0vw;
  }
  90% {
    left: 0vw;
  }
  100% {
    left: 0vw;
  }
}

@media screen and (max-width: 570px) {
  .navigation .btn {
    display: none;
  }
  .slider{
    margin: 2rem 0;
    border-radius: 0;
  }
  .slider-inner {
    width:300vw;
  }
  .img-con{
    width: 100vw;
  }
  @keyframes slider {
    0% {
      left: 0vw;
    }
    10% {
      left: 0vw;
    }
    20% {
      left: -100vw;
    }
    30% {
      left: -100vw;
    }
    40% {
      left: -200vw;
    }
    50% {
      left: -200vw;
    }
    60% {
      left: -100vw;
    }
    70% {
      left: -100vw;
    }
    80% {
      left: 0vw;
    }
    90% {
      left: 0vw;
    }
    100% {
      left: 0vw;
    }
  }
}
